//Loader
.loader{
  font-size: 22px;
  line-height: 30px;
  font-family: "Muli, SemiBold";
  color:#172026;
  margin: 30px 16px;
}
//product grid
.products-grid{
    margin-top: 32px;
    margin-bottom: 128px;
    padding-right: 20px;
    padding-left: 20px;
}
.prod-items{
    margin-top: 32px;
    padding: 0 16px;
    height: 400px
}
//product-count
.result-count{
    color:#172026;
    font-family: "Muli, SemiBold";
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    padding: 0 16px;
}
//Sorting
.sorting{
  float: right;
}
.sorting > label{
  font-size: 16px;
  line-height: 24px;
  font-family: "Muli, SemiBold";
  color:#172026;
}
.sorting > select{
    height: 44px;
    width: 254px;
    border-radius: 8px;
    border: 2px solid #B5B7BC;
    margin-right: 16px;
    font-family: "Muli, Regular";
    font-size: 16px;
    color:#172026;
}

.sorting> option{
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-family: "Muli, Regular";
    color:#172026;
}
//product image
.prod-image{
    padding: 20px 20px;
    border: 1px solid #B5B7BC;
}
.prod-image > img{
    height: 251px;
    width: 204px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.prod-title{
    font-family: "Muli, Bold";
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color:#172026;
    font-weight: 700;
    margin-top: 8px;
    display: block;
    cursor: pointer;
}
.prod-price{
    font-family: "Muli, SemiBold";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color:#172026;
    margin-top: 8px;
}
.fav-prod{
    display: block;
    margin-top: 8px;
}
.fav-prod > img{
    width: 24px;
    height: 20.18px;
}
//pagination
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  color: #172026;
  cursor: pointer;
  font-family: "Muli, Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.paginationBttns a:hover {
  color: #1F39FF;
}

.paginationActive a {
  color: #1F39FF;
  text-decoration: underline;
}

.paginationDisabled a {
  display: none;
}

.filter-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
.filter-items > button{
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
.filter-items > button >img{
  width: auto;
  height: 16px;
  padding-right: 2px;
}
.filter-items > button >span{
  margin: 0 8px;
  text-decoration: underline;
  // typo(font-family, font-size, line-height, text-align, color)
  @include typo("Muli, SemiBold", 16px, 20px, left, #181C24);
  text-transform: capitalize;
}

/* The side navigation menu */
.sidefilter {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #FFFFFF; /* white*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidefilter-container{
  margin: 30px 20px;
}
.sidefilter-container> span{
  // typo(font-family, font-size, line-height, text-align, color)
  @include typo("Muli, SemiBold", 14px, 24px, left, #181C24);
  text-decoration: underline;
}
.sidefilter-container > .attribute-sec{
  border-top: 2px solid #D1D3D6;
  padding-top: 16px;
}



/* Position and style the close button (top right corner) */
.sidefilter .closebtn {
  font-size: 28px;
  color: #1D1D1B;
  cursor: pointer;
}
.sidefilter-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: #E5E5E7;
}
.sidefilter-head > a{
  // typo(font-family, font-size, line-height, text-align, color)
  @include typo("Muli, SemiBold", 16px, 24px, left, #1D1D1B);
  text-decoration: none;
}


//media querie
@media screen and (max-width:328px){
  .sorting > select { 
        width: 120px;
    }
    .prod-image>img {
      height: 120px;
      width: 80px;
    }
    .products-grid {
      padding-right: 0px;
      padding-left: 0px;
    }
    .prod-items {
      height: 355px;
    }
    .result-count{
      display: flex;
      justify-content: center;
    }
    

    }
  @media screen and (min-width:328px) and (max-width:768px){
    .sorting > select { 
        width: 140px;
    }
    .prod-image>img {
      height: 144px;
      width: 96px;
    }
    .prod-items {
      height: 355px;
    }
    .products-grid {
      padding-right: 0px;
      padding-left: 0px;
    }
    .result-count{
      display: flex;
      justify-content: center;
    }
  
    }
  @media screen and (min-width:768px) and (max-width:1024px){
    .filter-items{
      display: none;
    }
      
    }
  @media screen and (min-width:1024px) and (max-width:1280px){
    .filter-items{
      display: none;
    }
      
    }
  @media screen and (min-width:1280px) and (max-width:1440px){
    .filter-items{
      display: none;
    }
    }
  @media screen and (min-width:1440px) and (max-width:1920px){
    .filter-items{
      display: none;
    }
    }
  @media screen and (min-width:1920px){
    .filter-items{
      display: none;
    }
    }