.cat{
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top:-40px;
}
.cat-items{
    width: 306px;
    height: 235px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center ;
    cursor: pointer;
}
.cat-items:nth-child(1){
    background-image: url("../Images/ShopWomen.jpg");
    background-color: white;
}
.cat-items:nth-child(2){
    background-image: url("../Images/ShopMen.jpg");
    background-color: white;
}
.cat-items:nth-child(3){
    background-image: url("../Images/Jewellery.jpg");
    background-color: white;
}
.cat-items:nth-child(4){
    background-image: url("../Images/electronics.jpg");
    background-color: white;
}
.cat-details{
    background-color: #1B252CD9;
    padding: 17px 10px;
    margin-top:50%;
    @include divider2;
}
.cat-details > h2{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Source Serif Pro, Semibold", 24px, 30px, left, white);
}
.cat-details > span{
    @include typo("Muli, Regular", 16px, 23px, left, white);
    letter-spacing: 0.32px;
}
