.success{
    padding-left: 20px;
    padding-right: 20px;
}

.success-head{
    margin-top: 32px;
    margin-bottom: 40px;
}

.success-head>h2 {
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Source Serif Pro, Semibold", 48px, 60px, center, #172026);
}

.success-head>hr {
    // divider(margin-top, margin-left, margin-bottom, margin-right)
    @include divider(10px, auto, 0px, auto);
}

.success-container{
    margin-right: 32px;
    margin-top: 32px;
}
.success-container > h3{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, SemiBold", 20px, 25px, left, #172026);
    margin-bottom: 24px;
}
.success-container > p{
     // typo(font-family, font-size, line-height, text-align, color)
     @include typo("Muli, Regular", 16px, 25px, left, #172026);
     margin-bottom: 16px;
}

.success-grid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.success-items{
    width: 321px;
    margin-right: 147px
    
}
.success-items>h4{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, SemiBold", 16px, 20px, left, #172026);
    margin-bottom: 8px;
}
.success-items>span{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, left, #535965);
   // width: 157px;
    margin-bottom: 16px;
    display: block;
    width: 253px;
}

.success-items>p{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, left, #172026);
    width: 199px;
}
.success-details{
    margin-top: 40px;
}
.success-details > p{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Muli, Regular", 16px, 24px, left, #172026);
    margin: 16px 0;
}
.social-offer{
    background-color: #47B5FF;
    width: 440px;
    height: 351px;
    padding: 32px;
}
.offer-text{
    // typo(font-family, font-size, line-height, text-align, color)
    @include typo("Source Serif Pro, Semibold", 36px, 45px, center, #FFFFFF);
}

.social-icons{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.social-icons > a > img{
    width: 49px;
    height: 49px;
    margin: 0 20px;
    
}